<!-- Sidebar -->
<section class="sidebar">

  <!-- Sidebar user panel (optional) -->
  <a href="#" title="">
    <div class="user-panel">

      <!-- Avatar -->
      <div class="pull-left image">
        <img src="http://pruebas1.localhost/img/avatar/default.png" class="img-circle" alt="">
      </div>

      <div class="pull-left info">

        <!-- Name -->
        <p class="text-center">Diseños Devilu</p>

        <!-- Status -->
        <small>
          <span class="label label-success">
            Activo
          </span>
        </small>

      </div>
    </div>
    </a>
  <!-- /. sidebar user panel -->

  <!-- Sidebar Menu -->
  <ul class="sidebar-menu" data-widget="tree">

    <li class="header">Menu</li>

    <!-- Dashboard Module -->
    <li class="">
      <a href="#">
        <i class="fa fa-home"></i>
        <span>Inicio</span>
      </a>
    </li>
    <!-- /. dashboard module -->

    <!-- Mailbox Module -->
    <li class="treeview">
      <a href="#"><i class="fa fa-envelope"></i> <span>Correo</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">

        <!-- Inbox -->
        <li class="">
          <a href="#"><i class="fa fa-circle-o"></i><span>Buzón</span></a>
        </li>
        <!-- /. inbox -->

        <!-- Sent emails -->
        <li class="">
          <a href="#"><i class="fa fa-circle-o"></i><span>Enviados</span></a>
        </li>
        <!-- /. sent emails -->

        <!-- Trash emails -->
        <li class="">
          <a href="#"><i class="fa fa-circle-o"></i><span>Papelera</span></a>
        </li>
        <!-- /. trash emails -->

      </ul>
    </li>
    <!-- /. mailbox module -->

    <!-- Access section -->
    <li class="treeview">
      <a href="#"><i class="fa fa-lock"></i> <span>Acceso</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">

        <!-- Users module -->
        <li class="">
          <a href="#"><i class="fa fa-users"></i> <span>Usuarios</span></a>
        </li>
        <!-- /. user module -->

        <!-- Role module -->
        <li class="">
          <a href="#"><i class="fa fa-user"></i><span>Roles</span></a>
        </li>
        <!-- /. role module -->

        <!-- Permission module -->
        <li class="">
          <a href="#"><i class="fa fa-user-secret"></i><span>Permisos</span></a>
        </li>
        <!-- /. permission module -->

     </ul>
    </li>
    <!-- /. access section -->

  </ul>
  <!-- /.sidebar-menu -->
</section>
<!-- /.sidebar -->
